@font-face
  font-family 'HelveticaNeue'
  font-weight 300
  src url('./fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.eot')
  src url('./fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.eot') format('embedded-opentype'),
    url('./fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.woff2') format('woff2'),
    url('./fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.woff') format('woff'),
    url('./fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.ttf') format('truetype'),
    url('./fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.svg#HelveticaNeueCyrLight') format('svg')

@font-face
  font-family 'HelveticaNeue'
  font-weight 400
  src url('./fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.eot')
  src url('./fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.eot') format('embedded-opentype'),
    url('./fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.woff2') format('woff2'),
    url('./fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.woff') format('woff'),
    url('./fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.ttf') format('truetype'),
    url('./fonts/HelveticaNeueCyrRoman/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman') format('svg')

@font-face
  font-family 'HelveticaNeue'
  font-weight 500
  src url('./fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.eot')
  src url('./fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.eot') format('embedded-opentype'),
    url('./fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.woff2') format('woff2'),
    url('./fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.woff') format('woff'),
    url('./fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.ttf') format('truetype'),
    url('./fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.svg#HelveticaNeueCyrMedium') format('svg')

@font-face
  font-family 'Impact'
  font-weight 500
  src url('./fonts/Impact/Impact.eot')
  src url('./fonts/Impact/Impact.eot') format('embedded-opentype'),
    url('./fonts/Impact/Impact.woff2') format('woff2'),
    url('./fonts/Impact/Impact.woff') format('woff'),
    url('./fonts/Impact/Impact.ttf') format('truetype'),
    url('./fonts/Impact/Impact.svg#Impact') format('svg')

html
	min-height 100%
body
	font-size 13px
	line-height 16px
	min-height 100%

body, input, textarea
	font-family HelveticaNeue

input, textarea
	+placeholder()
    font-weight 300
*:focus
	outline none

label
	cursor pointer
.m-show
	display block !important
.m-hide
	display none !important
.hide_from_top
  top calc(-100% - 40px)
  transition top 0.3s
.m-show_top
  top 40px
.m-bold
	font-weight bold
.m-tt_none
	text-transform none
.popup_active, .nav_active
	overflow hidden
	height 100%
	max-height 100%
	#main_content
		display none
#overlay
	background rgba(0,0,0, 0.7)
	position absolute
	z-index 9998
	top 0
	left 0
	width 100%
	height 100%
