header#main_header
	position fixed
	top 0
	z-index 9998
	background #000
	width 100%
	padding 0 14px
	height 45px
	line-height 45px
	text-align center
	borderbox()
	claerfix()

	.main_headline
		position absolute
		left 0
		text-align center
		width 100%
		z-index -1
		// transform translate(-50%, -50%)
		h1
			color #fff
			font-size 16px
			line-height 48px
			font-weight 400

	.cancel, .apply
		color #9B9B9B
		font-size 14px
		text-decoration none
		font-weight 300
		position absolute
		top 50%
		transform translate(0, -50%)

	.apply
		right 14px

	.cancel
		left 14px

	.menu
		float left
		padding-right 10px
	.back
		float left
		padding-right 40px

	.like, .cart
		float right
		margin-left 10px
