header#main_header
	position fixed
	top 0
	z-index 9998
	background #000
	width 100%
	padding 9px 14px
	height 45px
	borderbox()
	claerfix()

	.main_headline
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		h1
			color #fff
			font-size 16px
			font-weight 400

	.cancel, .apply
		color #9B9B9B
		font-size 14px
		text-decoration none
		font-weight 300
		position absolute
		top 50%
		transform translate(0, -50%)

	.apply
		right 14px

	.menu
		float left
	.logo
		margin-top 4px
	.like, .cart
		float right
		margin-left 12px
		margin-top 2px
