.item_detail
	padding-bottom 60px
	&--info
		position relative
		font-size 14px
		color #444
		line-height 18px
		padding 12px 14px 0
		borderbox()
		strong
			color #000
			font-weight 500

		.product_like
			position absolute
			top 12px
			right 12px
			opacity 0.35
			scaleIcon(1.6)

	&--select
		fieldset
			margin 12px 14px 0 10px

	.content_description
		margin 0 14px
		padding-top 12px


	.button--orange
		position fixed
		width 100%
		bottom 0
		border-top 1px solid #E5E2E2
		padding 4px
