#main_content
	margin-top 45px
	min-height 100%
.content_description
	font-weight 300
	line-height 16px
	h2
		font-family HelveticaNeue
		font-size 18px
		font-weight 500
		color #000
		line-height 23px
		margin-bottom 4px

	p, ul
		margin-bottom 12px

	ul
		li:before
			content ''
			display inline-block
			width 5px
			height 5px
			background #9B9B9B
			radius(50%)
			margin-right 8px
			position relative
			top -2px
