.products_list
	text-align center
	a
		color #000
		text-decoration none
	&--item
		display inline-block
		width 150px
		position relative
		line-height 17px
		margin-top 12px
		vertical-align top
		borderbox()

	&--image
		margin-bottom 4px
		width 150px
		height 170px
		display inline-block
		vertical-align middle
		overflow hidden

		&:before
			content ''
			display inline-block
			height 100%
			vertical-align middle

		img
			display inline-block
			vertical-align middle
			max-height 100%

	&--price
		font-size 14px
		font-weight bold
	&--name
		font-size 13px
		font-weight 300
	&--like
		position absolute
		z-index 1
		top 0
		right 4px
		opacity 0.35
		scaleIcon(1.1)
