.slide
	position relative
	.slide--social
		position absolute
		z-index 1
		margin-top 18px
		margin-left 10px
		a
			margin-bottom 8px

	.increase
		position absolute
		z-index 1
		bottom 30px
		margin-left 10px

	.slide--wrapper
		width 100%
		overflow-x scroll
		border-bottom 1px solid #9B9B9B
		position relative

		.slide--content
			height 270px
			position relative
			overflow hidden

			a
				display inline-block
				overflow hidden
				max-height 270px
