<div class="checkout">
	<form action="" class="form">
		<fieldset>
			<p class="fake_placeholder">
				<input type="text" name="cardNumber" id="cardNumber" value="">
				<label for="cardNumber">Номер карты</label>
			</p>
			<div class="info_input">
				<p class="expiration">
					<span class="input_headline">Срок годности</span>
					<input type="text" name="expirationMonth" value="" placeholder="ММ">
					<input type="text" name="expirationYear" value="" placeholder="ГГ">
				</p>
				<p class="cvv">
					<span class="input_headline">CVV/CVC</span>
					<input type="text" name="expirationDate" value="">
				</p>
			</div>
			<div class="info_input">
				<p>
					<span class="input_headline">Как на карте</span>
					<input type="text" name="expirationDate" value="" placeholder="Держатель карты">
				</p>
			</div>
			<p><a href="#" class="button--gray">Оплатить <span class="pay_count">6000</span> <span class="m-tt_none">руб</span></a></p>
		</fieldset>
	</form>
</div>
